@model Administracion.Models.ProviderViewModel

        <tr>
    
    <th class="text-center">@Model.Id</th>
    <th class="text-center">@Model.Item</th>
    <th class="text-center">@Model.User.CUIT</th>
    <th>@Model.User.Name</th>
            @if (Model.Address != null)
            {
                <th>@Model.Address.Street @Model.Address.Number, @Model.Address.City</th>
            }
            else
            {
                <th></th>
            }
    
    <th>@Model.User.ContactData.Telephone</th>
    <th>@Model.User.ContactData.Email</th>
    
            <td class="text-center">
                <div class="btn-group">
                    <a href="UpdateProviderById/@Model.Id" data-toggle="tooltip" title="Editar" class="btn btn-xs btn-default"><i class="fa fa-pencil"></i></a>                    
                    <a href="#modal-delete-@Model.Id" data-toggle="modal" title="Borrar Proveedor" class="btn btn-xs btn-danger"><i class="fa fa-times"></i></a>
                </div>
            </td>
            
        </tr>


<div id="modal-delete-@Model.Id" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header text-center">
                <h2 class="modal-title"><i class="fa fa-pencil"></i> ELIMINAR PROVEEDOR</h2>
            </div>
            <!-- END Modal Header -->
            <!-- Modal Body -->
            <div class="modal-body">
                <form action="index.html" method="post" enctype="multipart/form-data" class="form-horizontal form-bordered" onsubmit="return false;">
                    <fieldset>
                        <legend>Estas seguro que queres Eliminar a @Model.User.Name </legend>

                    </fieldset>

                    <div class="form-group form-actions">
                        <div class="col-xs-12 text-right">
                            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Cancelar</button>
                            <button onclick="location.href='DeleteProvider/@Model.Id'" type="submit" class="btn btn-sm btn-danger">Eliminar</button>

                        </div>
                    </div>
                </form>
            </div>
            <!-- END Modal Body -->
        </div>
    </div>
</div>