@model Administracion.Models.UserViewModel

<tr>
    
    <th class="text-center">@Model.Id</th>
    <th class="text-center">@Model.DNI</th>
    <th>@Model.Surname</th>
    <th>@Model.Name</th>    
    @if (Model.ContactData != null && !string.IsNullOrEmpty(Model.ContactData.Telephone))
    {
        <th>@Model.ContactData.Telephone</th>
    }
    else
    {
        <th></th>
    }

            @if (Model.ContactData != null && !string.IsNullOrEmpty(Model.ContactData.Email))
            {
                <th>@Model.ContactData.Email</th>
            }
            else
            {
                <th></th>
            }

    
    @if (Model.IsOwner)
    {
        <th>
            Propietario
        </th>
    }
    else
    {
        if (Model.IsProvider)
        {
            <th>
                Proveedor
            </th>
        }
        else
        {
            /*if (Model.IsRenter)
            {
                <th>
                    Inquilino
                </th>
            }
            else
            {*/
                <th>
                    Empleado
                </th>
            

        }

    }


            <td class="text-center">
                <div class="btn-group">
                    <a href="UpdateUserById/@Model.Id" data-toggle="tooltip" title="Editar" class="btn btn-xs btn-default"><i class="fa fa-pencil"></i></a>
                    @*<a href="DeleteUser/@Model.Id" data-toggle="tooltip" title="Borrar" class="btn btn-xs btn-danger"><i class="fa fa-times"></i></a>*@

                    <a href="#modal-delete-@Model.Id" data-toggle="modal" title="Borrar Proveedor" class="btn btn-xs btn-danger"><i class="fa fa-times"></i></a>
                </div>
            </td>
            
        </tr>

	<!-- DELETE -->
<div id="modal-delete-@Model.Id" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header text-center">
                <h2 class="modal-title"><i class="fa fa-pencil"></i> ELIMINAR USUARIO </h2>
            </div>
            <!-- END Modal Header -->
            <!-- Modal Body -->
            <div class="modal-body">
                <form action="index.html" method="post" enctype="multipart/form-data" class="form-horizontal form-bordered" onsubmit="return false;">
                    <fieldset>
                        <legend>Estas seguro que queres Eliminar al @Model.Name @Model.Surname</legend>

                    </fieldset>

                    <div class="form-group form-actions">
                        <div class="col-xs-12 text-right">
                            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Cancelar</button>
                            <button onclick="location.href='DeleteUser/@Model.Id'"  type="submit" class="btn btn-sm btn-danger">Eliminar</button>

                        </div>
                    </div>
                </form>
            </div>
            <!-- END Modal Body -->
        </div>
    </div>
</div>