@model Administracion.Models.UserViewModel
@using Administracion.Models;
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div id="page-content" class="sidebar-partial sidebar-visible-lg sidebar-no-animations">

    <div id="main-container">
        <div class="content-header">
            <ul class="nav-horizontal text-center">
                <li>
                    <a href="/DataBase/Index"><i class="fa fa-home"></i> Home</a>
                </li>
                <li>
                    <a href="javascript:void(0)"><i class="gi gi-group"></i> Usuarios</a>
                </li>
            </ul>
        </div>
        <ul class="breadcrumb breadcrumb-top">
            <li><a href="/home">Home</a></li>
            <li><a href="">Propietarios</a></li>
        </ul>
        <div class="row">

            <div class="col-md-12">
                <!-- Basic Form Elements Block -->
                <div class="block">
                    <div class="block-title">
                        <h2><strong>ALTA NUEVOS </strong>PROPIETARIOS</h2>
                    </div>
                    @using (Html.BeginForm("CreateUpdateUser", "Users", FormMethod.Post , htmlAttributes: new { @class = "form-horizontal form-bordered" }))
                    {
                        
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(x => x.Id)
                        @Html.HiddenFor(x => x.CallbackUrl)

                        <div class="form-group">                            
                            @Html.LabelFor(model => model.Id, htmlAttributes: new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                <p class="form-control-static">GENERA AUTOMATICAMENTE</p>
                            </div>
                        </div>
                        <div class="form-group">                            
                            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder="Nombre",  @required="required",
                               @oninvalid = "this.setCustomValidity('Ingrese el Nombre del usuario')", @oninput = "setCustomValidity('')"} })
                                <span class="help-block">Coloque el nombre completo</span>
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })                                                                
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Surname, htmlAttributes: new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control", @placeholder = "Apellido", @required = "required",
                               @oninvalid = "this.setCustomValidity('Ingrese el Apellido del usuario')",
                               @oninput = "setCustomValidity('')"
                           } })
                                <span class="help-block">Coloque el apellido completo</span>
                                @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="example-text-input">Telefono / Celular</label>
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.ContactData.Telephone, new { htmlAttributes = new { @class = "form-control", @placeholder = "Telefono" } })                                
                                <span class="help-block">Coloque el numero de tel.</span>
                            </div>
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.ContactData.Cellphone, new { htmlAttributes = new { @class = "form-control", @placeholder = "Celular" } })                                
                                <span class="help-block">Coloque el celular.</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="example-text-input">DOCUMENTACION</label>
                            <div class="col-md-5">                                
                                @Html.EditorFor(model => model.DNI, new { htmlAttributes = new { @class = "form-control", @placeholder = "DNI" } })
                                
                            </div>
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.CUIT, new { htmlAttributes = new { @class = "form-control", @placeholder = "CUIT" } })                                
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-md-3 control-label" for="example-select">CONSORCIO</label>
                            <div class="col-md-9">
                                @Html.DropDownListFor(model => model.OwnershipId,  Model.OwnershipList, "-- ELIJA CONSORCIO  --",new { @class = "form-control" })                                
                            </div>                                                        
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label" for="example-select">UNIDAD FUNCIONAL</label>
                            <div class="col-md-9">
                                @Html.DropDownListFor(model => model.FunctionalUnitId, Model.FunctionalUnitList, "-- ELIJA UF --", new { @class = "form-control" })
                            </div>
                        </div>


                        <div class="form-group">
                            @Html.LabelFor(model => model.ContactData.Email, htmlAttributes: new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.ContactData.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email" } })
                                <span class="help-block">Coloque el nombre email</span>
                                @Html.ValidationMessageFor(model => model.ContactData.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        
                                        <div class="form-group">
                                            <label class="col-md-3 control-label" for="example-textarea-input">Comentarios</label>
                                            <div class="col-md-9">
                                                <textarea id="example-textarea-input" name="example-textarea-input" disabled rows="9" class="form-control" placeholder="Escriba aqui comentarios "></textarea>
                                            </div>
                                        </div>                                        

                                        <div class="form-group " id="pagosSelection">
                                            <label class="control-label col-md-3">Medio de pago</label>
                                            <div class="col-md-9">
                                                @Html.DropDownListFor(model => model.PaymentTypeId, Model.PaymentTypes, "-- Por favor elja --", new { @class = "form-control", @size="1", 
                                               @required = "required",
                                               @oninvalid = "this.setCustomValidity('Elija medio de pago')",
                                               @oninput = "setCustomValidity('')"
                                           })
                                            </div>
                                        </div>



                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Tipo</label>
                                            <div class="col-md-9">
                                                <!--
                                                <label class="checkbox-inline" for="example-inline-checkbox1">
                                                    Html.CheckBoxFor(model => model.IsRenter) Inquilino
                                                </label> -->
                                                <label class="checkbox-inline" for="example-inline-checkbox2">
                                                    @Html.CheckBoxFor(model => model.IsOwner) Propietario
                                                </label>
                                                <label class="checkbox-inline" for="example-inline-checkbox3">
                                                    @Html.CheckBoxFor(model => model.IsWorker) Otro                                                    
                                                </label>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-3 control-label" for="example-file-input">Foto</label>
                                            <div class="col-md-9">
                                                <input disabled type="file" id="example-file-input" name="example-file-input">
                                            </div>
                                        </div>

                                        <div class="form-group form-actions">
                                            <div class="col-md-9 col-md-offset-3">
                                                <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-angle-right"></i> ALTA</button>
                                                <button type="reset" class="btn btn-sm btn-warning"><i class="fa fa-repeat"></i> Resetear</button>
                                            </div>
                                        </div>



                    }



                </div>
                
            </div>

            
            </div>

        
        </div>

    
    </div>
  <!-- Footer -->
<footer class="clearfix">
    <div class="pull-right">
        Creado por <a href="http://www.bluedot.com.ar" _blank">Bluedot</a>
    </div>
    <div class="pull-left">
        Software Version 1.0
    </div>
</footer>
<!-- END Footer -->
