@model Administracion.DomainModel.PatrimonyStatus

        <tr>

            <td class="text-center">@Model.Id</td>
            <td class="text-right">$ @Model.Debe</td>
            <td class="text-right">$ @Model.Haber</td>
            <td class="text-right">$ @Model.Activo</td>
            <td class="text-right">$ @Model.Pasivo</td>
            <td class="text-center">@Model.Consortium.Ownership.Address.Street  @Model.Consortium.Ownership.Address.Number</td>
                        
        </tr>



