@model Administracion.DomainModel.PatrimonyStatus

        <tr>

            <td class="text-center">@Model.Id</td>
            <td class="text-center">@Model.Debe</td>
            <td>@Model.Haber</td>
            <td>@Model.Activo</td>
            <td>@Model.Pasivo</td>
            <td>@Model.Consortium.Ownership.Address.Street  @Model.Consortium.Ownership.Address.Number</td>
                        
        </tr>



