@model Administracion.Models.SpendViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="page-content" class="sidebar-partial sidebar-visible-lg sidebar-no-animations">

    <div id="main-container">

        <div class="content-header">
            <ul class="nav-horizontal text-center">
                <li>
                    <a href="/DataBase/Index"><i class="fa fa-home"></i> Home</a>
                </li>

                <li class="active">
                    <a href="#"><i class="fa fa-dollar"></i> Gastos</a>
                </li>
            </ul>
        </div>
        <ul class="breadcrumb breadcrumb-top">            
                <li><a href="/home">Home</a></li>
                <li><a href="/Consortium/Index">Consorcios</a></li>
                <li><a href="/Consortium/Details/@Model.ConsortiumId">Consorcio</a></li>            
                <li><a href="">Gastos</a></li>            
        </ul>
        <div class="block full" id="spend-page">
            <div class="block-title">
                <h2><strong>Listado de</strong> Gastos</h2>
            </div>
            <p>Acá podrás encontrar toda la información de los gastos del consorcio</p>


            <div class="panel-heading">
                <div class="row">
                    
                    <div class="col-md-2">                        
                    </div>
                </div>
            </div>

            @{
                var spendItemDetYSueldos = Model.SpendItems.Where(x => x.Text.ToLower().Equals("detalle de sueldo y cargas sociales")).FirstOrDefault();
                var spendItemAportesYContr = Model.SpendItems.Where(x => x.Text.ToLower().Equals("aportes y contribuciones")).FirstOrDefault();
                var spendItemServPub = Model.SpendItems.Where(x => x.Text.ToLower().Equals("servicios públicos")).FirstOrDefault();
                var spendItemAbonoServ = Model.SpendItems.Where(x => x.Text.ToLower().Equals("abono de servicios")).FirstOrDefault();
                var spendItemMantPartesComunes = Model.SpendItems.Where(x => x.Text.ToLower().Equals("mantenimiento de partes comunes")).FirstOrDefault();
                var spendItemRepUnidades = Model.SpendItems.Where(x => x.Text.ToLower().Equals("trabajo de reparaciones en unidades")).FirstOrDefault();
                var spendItemGastosBancarios = Model.SpendItems.Where(x => x.Text.ToLower().Equals("gastos bancarios")).FirstOrDefault();
                var spendItemGastosLimpieza = Model.SpendItems.Where(x => x.Text.ToLower().Equals("gastos de limpieza")).FirstOrDefault();
                var spendItemGastosAdmin = Model.SpendItems.Where(x => x.Text.ToLower().Equals("gastos de administracion")).FirstOrDefault();
                var spendItemPagosSeguros = Model.SpendItems.Where(x => x.Text.ToLower().Equals("pagos del período de seguros")).FirstOrDefault();
                var spendItemOtros = Model.SpendItems.Where(x => x.Text.ToLower().Equals("otros")).FirstOrDefault();
            }

            <h2 class="h2-title">Remuneraciones al personal y cargas Sociales</h2>
            @using (Html.BeginForm("ProcessManagerCsv", "Spend", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {

                <div class="form-group row">
                    <label class="control-label col-md-4">Elija el archivo a procesar</label>
                    <div class='col-md-8'>
                        <input type="hidden" name="consortiumId" id="consortiumId" value="@Model.ConsortiumId" />
                        <input type="file" id="managercsv" name="managercsv" />
                    </div>
                </div>                
                <button type="submit" class="btn btn-default">Procesar</button>
            }

            
            <div class="table-responsive">
                <div class="block">
                    <div class="row" style="background-color: red;color: white;">
                        Los siguientes items no estan asociados a ningún encargado
                    </div>
                    <div class="block-title">
                        <div class="block-options pull-right">
                            <a href="/Spend/CreateSpend?consortiumId=@Model.ConsortiumId&spendItemId=@spendItemDetYSueldos.Value" class="btn btn-alt btn-sm btn-default" data-toggle="tooltip" title="Agregar Gasto"><i class="fa fa-plus"></i></a>
                            <a href="/Spend/DeleteList?consortiumId=@Model.ConsortiumId&managerId=0" class="btn btn-alt btn-sm btn-default" data-toggle="tooltip" title="Eliminar Gastos"><i class="fa fa-minus-circle"></i></a>
                        </div>
                    </div>
                    <table id="example-datatable" class="table table-vcenter table-condensed table-bordered" name="table">

                        <thead>
                            <tr>
                                <th class="text-center header-item">@spendItemDetYSueldos.Value</th>
                                <th class="text-center header-item">@spendItemDetYSueldos.Text</th>
                                <th></th>
                                <th></th>
                                <th class="text-center header-item">GASTOS A</th>
                                <th class="text-center header-item">GASTOS B</th>
                                <th class="text-center header-item">GASTOS C</th>
                                <th class="text-center header-item">TOTAL</th>
                                <th class="text-center">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var sueldo in Model.SalarySpendWithoutManager)
                            {
                                @Html.Partial("_SueldoItem", sueldo)
                            }
                        </tbody>

                    </table>
                </div>
            </div>

            @if (Model.SalarySpends.Keys != null)
            {
                foreach (var key in Model.SalarySpends.Keys)
                {
                    @Html.Partial("_SueldoList", Model.SalarySpends[key]);
                }
            }
            
            <div class="table-responsive">
                <div class="block">

                    <div class="block-title">
                        <div class="block-options pull-right">
                            <a href="/Spend/CreateSpend?consortiumId=@Model.ConsortiumId&spendItemId=@spendItemAportesYContr.Value" class="btn btn-alt btn-sm btn-default" data-toggle="tooltip" title="Agregar Gasto"><i class="fa fa-plus"></i></a>
                        </div>
                    </div>

                    <table id="example-datatable" class="table table-vcenter table-condensed table-bordered" name="table">

                        <thead>
                            <tr>
                                <th></th>
                                <th class="text-center header-item">@spendItemAportesYContr.Text</th>
                                <th></th>
                                <th></th>
                                <th class="text-center header-item">GASTOS A</th>
                                <th class="text-center header-item">GASTOS B</th>
                                <th class="text-center header-item">GASTOS C</th>
                                <th class="text-center header-item">TOTAL</th>
                                <th class="text-center">Acciones</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var aporte in Model.Spends.Where(x => x.Type.Item.Id == int.Parse(spendItemAportesYContr.Value)))
                            {
                                @Html.Partial("_SpendItem", aporte)
                            }
                            @foreach(var key in Model.AportesYContribucionesSpends.Keys)
                            {
                                <tr>
                                    <td style="border: solid 1px; border-color: #eaedf1;"></td>
                                    <td style="border-left: solid 1px; border-color: #eaedf1;"><span style="font-weight:bolder">@key </span></td>
                                    <td class="border-left-right-none"></td>
                                    <td class="border-left-none" style="border-right: solid 1px; border-color: #eaedf1;"></td>
                                    <td style="border: solid 1px; border-color: #eaedf1;">$@Model.AportesYContribucionesSpends[key]</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>                                
                                </tr>                                
                            }

                        </tbody>
                    </table>
                    @{decimal percentageItemAportesYContr = 0;
                        if(Model.Spends.Sum(x => x.Bill.Amount) > 0)
                        {
                            percentageItemAportesYContr  = Model.Spends.Where(x => x.Type.Item.Id == int.Parse(spendItemAportesYContr.Value)).Sum(x => x.Bill.Amount) * 100 / Model.Spends.Sum(x => x.Bill.Amount);
                        }

                        percentageItemAportesYContr = Math.Round(percentageItemAportesYContr, 2);
                    }

                    <div class="total-table row">
                        <div class="col-md-4"></div>
                        <div class="col-md-8">
                            <div class="col-md-6">Total</div>
                            <div class="col-md-2">
                                @percentageItemAportesYContr %
                            </div>
                            <div class="col-md-2">$@Model.Spends.Where(x => x.Type.Item.Id == int.Parse(spendItemAportesYContr.Value)).Sum(x => x.Bill.Amount)</div>
                        </div>
                    </div>


                </div>
            </div>

            <h2 class="h2-title">Pagos del período por suministros, servicios, abonos y seguros</h2>
            <div style="font-size:9px">(Conf. Art 10 inc. e y f ley N° 941)</div>
            <div>RUBROS-CONCEPTO-DETALLE DE PROVEEDORES</div>
            <div class="table-responsive">

                <div class="block">
                    <div class="block-title">
                        <div class="block-options pull-right">
                            <a href="/Spend/CreateSpend?consortiumId=@Model.ConsortiumId&spendItemId=@spendItemServPub.Value" class="btn btn-alt btn-sm btn-default" data-toggle="tooltip" title="Agregar Gasto"><i class="fa fa-plus"></i></a>
                        </div>
                    </div>


                    <table id="example-datatable" class="table table-vcenter table-condensed table-bordered" name="table">

                        <thead>
                            <tr>
                                <th class="text-center header-item">@spendItemServPub.Value</th>
                                <th class="text-center header-item">@spendItemServPub.Text</th>
                                <th></th>
                                <th></th>
                                <th class="text-center header-item">GASTOS A</th>
                                <th class="text-center header-item">GASTOS B</th>
                                <th class="text-center header-item">GASTOS C</th>
                                <th class="text-center header-item">TOTAL</th>
                                <th class="text-center">Acciones</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var aporte in Model.Spends.Where(x => x.Type.Item.Id == int.Parse(spendItemServPub.Value)))
                            {
                            @Html.Partial("_SpendItem", aporte)
                            }
                        </tbody>
                    </table>
                    @{
                        decimal percentageItemServPub = 0;
                        if (Model.Spends.Sum(x => x.Bill.Amount) > 0)
                        {
                            percentageItemServPub = Model.Spends.Where(x => x.Type.Item.Id == int.Parse(spendItemServPub.Value)).Sum(x => x.Bill.Amount) * 100 / Model.Spends.Sum(x => x.Bill.Amount);
                        }

                        percentageItemServPub = Math.Round(percentageItemServPub, 2);
                    }

                    <div class="total-table row">
                        <div class="col-md-4"></div>
                        <div class="col-md-8">
                            <div class="col-md-6">Total</div>
                            <div class="col-md-2">
                                @percentageItemServPub %
                            </div>
                            <div class="col-md-2">$@Model.Spends.Where(x => x.Type.Item.Id == int.Parse(spendItemServPub.Value)).Sum(x => x.Bill.Amount)</div>
                        </div>
                    </div>


                </div>
            </div>

            <div class="table-responsive">

                <div class="block">
                    <div class="block-title">
                        <div class="block-options pull-right">
                            <a href="/Spend/CreateSpend?consortiumId=@Model.ConsortiumId&spendItemId=@spendItemAbonoServ.Value" class="btn btn-alt btn-sm btn-default" data-toggle="tooltip" title="Agregar Gasto"><i class="fa fa-plus"></i></a>
                        </div>
                    </div>

                    <table id="example-datatable" class="table table-vcenter table-condensed table-bordered" name="table">

                        <thead>
                            <tr>
                                <th class="text-center header-item">@spendItemAbonoServ.Value</th>
                                <th class="text-center header-item">@spendItemAbonoServ.Text</th>
                                <th></th>
                                <th></th>
                                <th class="text-center header-item">GASTOS A</th>
                                <th class="text-center header-item">GASTOS B</th>
                                <th class="text-center header-item">GASTOS C</th>
                                <th class="text-center header-item">TOTAL</th>
                                <th class="text-center">Acciones</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var abono in Model.Spends.Where(x => x.Type.Item.Id == int.Parse(spendItemAbonoServ.Value)))
                            {
                                @Html.Partial("_SpendItem", abono)
                            }
                        </tbody>
                    </table>

                    @{
                        decimal percentageItemAbonoServ = 0;
                        if (Model.Spends.Sum(x => x.Bill.Amount) > 0)
                        {
                            percentageItemAbonoServ = Model.Spends.Where(x => x.Type.Item.Id == int.Parse(spendItemAbonoServ.Value)).Sum(x => x.Bill.Amount) * 100 / Model.Spends.Sum(x => x.Bill.Amount);
                        }
                        
                        percentageItemAbonoServ = Math.Round(percentageItemAbonoServ, 2);
                    }

                    <div class="total-table row">
                        <div class="col-md-4"></div>
                        <div class="col-md-8">
                            <div class="col-md-6">Total</div>
                            <div class="col-md-2">
                                @percentageItemAbonoServ %
                            </div>
                            <div class="col-md-2">$@Model.Spends.Where(x => x.Type.Item.Id == int.Parse(spendItemAbonoServ.Value)).Sum(x => x.Bill.Amount)</div>
                        </div>
                    </div>

                </div>


            </div>


            <div class="table-responsive">

                <div class="block">

                    <div class="block-title">
                        <div class="block-options pull-right">
                            <a href="/Spend/CreateSpend?consortiumId=@Model.ConsortiumId&spendItemId=@spendItemMantPartesComunes.Value" class="btn btn-alt btn-sm btn-default" data-toggle="tooltip" title="Agregar Gasto"><i class="fa fa-plus"></i></a>
                        </div>
                    </div>

                    <table id="example-datatable" class="table table-vcenter table-condensed table-bordered" name="table">

                        <thead>
                            <tr>
                                <th class="text-center header-item">@spendItemMantPartesComunes.Value</th>
                                <th class="text-center header-item">@spendItemMantPartesComunes.Text</th>
                                <th></th>
                                <th></th>
                                <th class="text-center header-item">GASTOS A</th>
                                <th class="text-center header-item">GASTOS B</th>
                                <th class="text-center header-item">GASTOS C</th>
                                <th class="text-center header-item">TOTAL</th>
                                <th class="text-center">Acciones</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var mant in Model.Spends.Where(x => x.Type.Item.Id == int.Parse(spendItemMantPartesComunes.Value)))
                            {
                                @Html.Partial("_SpendItem", mant)
                            }
                        </tbody>
                    </table>

                    @{
                        decimal percentageItemMantPartesComunes = 0;
                        if (Model.Spends.Sum(x => x.Bill.Amount) > 0)
                        {
                            percentageItemMantPartesComunes = Model.Spends.Where(x => x.Type.Item.Id == int.Parse(spendItemMantPartesComunes.Value)).Sum(x => x.Bill.Amount) * 100 / Model.Spends.Sum(x => x.Bill.Amount);
                        }

                        percentageItemMantPartesComunes = Math.Round(percentageItemMantPartesComunes, 2);
                    }

                    <div class="total-table row">
                        <div class="col-md-4"></div>
                        <div class="col-md-8">
                            <div class="col-md-6">Total</div>
                            <div class="col-md-2">
                                @percentageItemMantPartesComunes %
                            </div>
                            <div class="col-md-2">$@Model.Spends.Where(x => x.Type.Item.Id == int.Parse(spendItemMantPartesComunes.Value)).Sum(x => x.Bill.Amount)</div>
                        </div>
                    </div>

                    </div>


                </div>


            <div class="table-responsive">

                <div class="block">

                    <div class="block-title">
                        <div class="block-options pull-right">
                            <a href="/Spend/CreateSpend?consortiumId=@Model.ConsortiumId&spendItemId=@spendItemRepUnidades.Value" class="btn btn-alt btn-sm btn-default" data-toggle="tooltip" title="Agregar Gasto"><i class="fa fa-plus"></i></a>
                        </div>
                    </div>

                    <table id="example-datatable" class="table table-vcenter table-condensed table-bordered" name="table">

                        <thead>
                            <tr>
                                <th class="text-center header-item">@spendItemRepUnidades.Value</th>
                                <th class="text-center header-item">@spendItemRepUnidades.Text</th>
                                <th></th>
                                <th></th>
                                <th class="text-center header-item">GASTOS A</th>
                                <th class="text-center header-item">GASTOS B</th>
                                <th class="text-center header-item">GASTOS C</th>
                                <th class="text-center header-item">TOTAL</th>
                                <th class="text-center">Acciones</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var rep in Model.Spends.Where(x => x.Type.Item.Id == int.Parse(spendItemRepUnidades.Value)))
                            {
                                @Html.Partial("_SpendItem", rep)
                            }
                        </tbody>
                    </table>

                    @{
                        decimal percentageItemRepUnidades = 0;

                        if (Model.Spends.Sum(x => x.Bill.Amount) > 0)
                        {
                            percentageItemRepUnidades = Model.Spends.Where(x => x.Type.Item.Id == int.Parse(spendItemRepUnidades.Value)).Sum(x => x.Bill.Amount) * 100 / Model.Spends.Sum(x => x.Bill.Amount);
                        }
                        percentageItemRepUnidades = Math.Round(percentageItemRepUnidades, 2);
                    }

                    <div class="total-table row">
                        <div class="col-md-4"></div>
                        <div class="col-md-8">
                            <div class="col-md-6">Total</div>
                            <div class="col-md-2">
                                @percentageItemRepUnidades %
                            </div>
                            <div class="col-md-2">$@Model.Spends.Where(x => x.Type.Item.Id == int.Parse(spendItemRepUnidades.Value)).Sum(x => x.Bill.Amount)</div>
                        </div>
                    </div>

                    
                </div>

               
            </div>

            <div class="table-responsive">

                <div class="block">

                    <div class="block-title">
                        <div class="block-options pull-right">
                            <a href="/Spend/CreateSpend?consortiumId=@Model.ConsortiumId&spendItemId=@spendItemGastosBancarios.Value" class="btn btn-alt btn-sm btn-default" data-toggle="tooltip" title="Agregar Gasto"><i class="fa fa-plus"></i></a>
                        </div>
                    </div>


                    <table id="example-datatable" class="table table-vcenter table-condensed table-bordered" name="table">

                        <thead>
                            <tr>
                                <th class="text-center header-item">@spendItemGastosBancarios.Value</th>
                                <th class="text-center header-item">@spendItemGastosBancarios.Text</th>
                                <th></th>
                                <th></th>
                                <th class="text-center header-item">GASTOS A</th>
                                <th class="text-center header-item">GASTOS B</th>
                                <th class="text-center header-item">GASTOS C</th>
                                <th class="text-center header-item">TOTAL</th>
                                <th class="text-center">Acciones</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var gbanc in Model.Spends.Where(x => x.Type.Item.Id == int.Parse(spendItemGastosBancarios.Value)))
                            {
                            @Html.Partial("_SpendItem", gbanc)
                            }
                        </tbody>
                    </table>

                    @{decimal percentageItemGastosBancarios = 0;
                        if (Model.Spends.Sum(x => x.Bill.Amount) > 0)
                        {
                            percentageItemGastosBancarios = Model.Spends.Where(x => x.Type.Item.Id == int.Parse(spendItemGastosBancarios.Value)).Sum(x => x.Bill.Amount) * 100 / Model.Spends.Sum(x => x.Bill.Amount);
                        }

                        percentageItemGastosBancarios = Math.Round(percentageItemGastosBancarios, 2);
                    }

                    <div class="total-table row">
                        <div class="col-md-4"></div>
                        <div class="col-md-8">
                            <div class="col-md-6">Total</div>
                            <div class="col-md-2">
                                @percentageItemGastosBancarios %
                            </div>
                            <div class="col-md-2">$@Model.Spends.Where(x => x.Type.Item.Id == int.Parse(spendItemGastosBancarios.Value)).Sum(x => x.Bill.Amount)</div>
                        </div>
                    </div>

                </div>


            </div>


            <div class="table-responsive">

                <div class="block">

                    <div class="block-title">
                        <div class="block-options pull-right">
                            <a href="/Spend/CreateSpend?consortiumId=@Model.ConsortiumId&spendItemId=@spendItemGastosLimpieza.Value" class="btn btn-alt btn-sm btn-default" data-toggle="tooltip" title="Agregar Gasto"><i class="fa fa-plus"></i></a>
                        </div>
                    </div>


                    <table id="example-datatable" class="table table-vcenter table-condensed table-bordered" name="table">

                        <thead>
                            <tr>
                                <th class="text-center header-item">@spendItemGastosLimpieza.Value</th>
                                <th class="text-center header-item">@spendItemGastosLimpieza.Text</th>
                                <th></th>
                                <th></th>
                                <th class="text-center header-item">GASTOS A</th>
                                <th class="text-center header-item">GASTOS B</th>
                                <th class="text-center header-item">GASTOS C</th>
                                <th class="text-center header-item">TOTAL</th>
                                <th class="text-center">Acciones</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var glimp in Model.Spends.Where(x => x.Type.Item.Id == int.Parse(spendItemGastosLimpieza.Value)))
                            {
                                @Html.Partial("_SpendItem", glimp)
                            }
                        </tbody>
                    </table>

                    @{decimal percentageItemGastosLimpieza = 0;

                        if (Model.Spends.Sum(x => x.Bill.Amount) > 0)
                        {
                            percentageItemGastosLimpieza = Model.Spends.Where(x => x.Type.Item.Id == int.Parse(spendItemGastosLimpieza.Value)).Sum(x => x.Bill.Amount) * 100 / Model.Spends.Sum(x => x.Bill.Amount);
                        }
                        percentageItemGastosLimpieza = Math.Round(percentageItemGastosLimpieza, 2);
                    }

                    <div class="total-table row">
                        <div class="col-md-4"></div>
                        <div class="col-md-8">
                            <div class="col-md-6">Total</div>
                            <div class="col-md-2">
                                @percentageItemGastosLimpieza %
                            </div>
                            <div class="col-md-2">$@Model.Spends.Where(x => x.Type.Item.Id == int.Parse(spendItemGastosLimpieza.Value)).Sum(x => x.Bill.Amount)</div>
                        </div>
                    </div>


                </div>


            </div>


            <div class="table-responsive">

                <div class="block">

                    <div class="block-title">
                        <div class="block-options pull-right">
                            <a href="/Spend/CreateSpend?consortiumId=@Model.ConsortiumId&spendItemId=@spendItemGastosAdmin.Value" class="btn btn-alt btn-sm btn-default" data-toggle="tooltip" title="Agregar Gasto"><i class="fa fa-plus"></i></a>
                        </div>
                    </div>


                    <table id="example-datatable" class="table table-vcenter table-condensed" name="table">

                        
                            <tr>
                                <th class="text-center header-item">@spendItemGastosAdmin.Value</th>
                                <th class="text-center border-rigth-none" style="border-right:none">@spendItemGastosAdmin.Text</th>
                                <th class="border-left-right-none" style="border-right:none; border-left:none"></th>
                                <th class="border-left-none" style="border-left:none"></th>
                                <th class="text-center header-item">GASTOS A</th>
                                <th class="text-center header-item">GASTOS B</th>
                                <th class="text-center header-item">GASTOS C</th>
                                <th class="text-center header-item">TOTAL</th>
                                <th class="text-center">Acciones</th>
                            </tr>
                        

                        <tbody>
                            @foreach (var gadmin in Model.Spends.Where(x => x.Type.Item.Id == int.Parse(spendItemGastosAdmin.Value)))
                            {
                            @Html.Partial("_SpendItem", gadmin)
                            }
                        </tbody>
                    </table>
                    @{decimal percentageItemGastosAdmin = 0;

                        if (Model.Spends.Sum(x => x.Bill.Amount) > 0)
                        {
                            percentageItemGastosAdmin = Model.Spends.Where(x => x.Type.Item.Id == int.Parse(spendItemGastosAdmin.Value)).Sum(x => x.Bill.Amount) * 100 / Model.Spends.Sum(x => x.Bill.Amount);
                        }

                        percentageItemGastosAdmin = Math.Round(percentageItemGastosAdmin, 2);
                    }

                    <div class="total-table row">
                        <div class="col-md-4"></div>
                        <div class="col-md-8">
                            <div class="col-md-6">Total</div>
                            <div class="col-md-2">
                                @percentageItemGastosAdmin %
                            </div>
                            <div class="col-md-2">$@Model.Spends.Where(x => x.Type.Item.Id == int.Parse(spendItemGastosAdmin.Value)).Sum(x => x.Bill.Amount)</div>
                        </div>
                    </div>

                </div>


            </div>


            <div class="table-responsive">

                <div class="block">

                    <div class="block-title">
                        <div class="block-options pull-right">
                            <a href="/Spend/CreateSpend?consortiumId=@Model.ConsortiumId&spendItemId=@spendItemPagosSeguros.Value" class="btn btn-alt btn-sm btn-default" data-toggle="tooltip" title="Agregar Gasto"><i class="fa fa-plus"></i></a>
                        </div>
                    </div>


                    <table id="example-datatable" class="table table-vcenter table-condensed table-bordered" name="table">

                        <thead>
                            <tr>
                                <th class="text-center header-item">@spendItemPagosSeguros.Value</th>
                                <th class="text-center header-item">@spendItemPagosSeguros.Text</th>
                                <th></th>
                                <th></th>
                                <th class="text-center header-item">GASTOS A</th>
                                <th class="text-center header-item">GASTOS B</th>
                                <th class="text-center header-item">GASTOS C</th>
                                <th class="text-center header-item">TOTAL</th>
                                <th class="text-center">Acciones</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var pseg in Model.Spends.Where(x => x.Type.Item.Id == int.Parse(spendItemPagosSeguros.Value)))
                            {
                            @Html.Partial("_SpendItem", pseg)
                            }
                        </tbody>
                    </table>
                    @{decimal percentageItemPagosSeguros = 0;
                        if (Model.Spends.Sum(x => x.Bill.Amount) > 0)
                        {
                            percentageItemPagosSeguros = Model.Spends.Where(x => x.Type.Item.Id == int.Parse(spendItemPagosSeguros.Value)).Sum(x => x.Bill.Amount) * 100 / Model.Spends.Sum(x => x.Bill.Amount);
                        }

                        percentageItemPagosSeguros = Math.Round(percentageItemPagosSeguros, 2);
                    }

                    <div class="total-table row">
                        <div class="col-md-4"></div>
                        <div class="col-md-8">
                            <div class="col-md-6">Total</div>
                            <div class="col-md-2">
                                @percentageItemPagosSeguros %
                            </div>
                            <div class="col-md-2">$@Model.Spends.Where(x => x.Type.Item.Id == int.Parse(spendItemPagosSeguros.Value)).Sum(x => x.Bill.Amount)</div>
                        </div>
                    </div>

                </div>


            </div>


            <div class="table-responsive">

                <div class="block">

                    <div class="block-title">
                        <div class="block-options pull-right">
                            <a href="/Spend/CreateSpend?consortiumId=@Model.ConsortiumId&spendItemId=@spendItemOtros.Value" class="btn btn-alt btn-sm btn-default" data-toggle="tooltip" title="Agregar Gasto"><i class="fa fa-plus"></i></a>
                        </div>
                    </div>


                    <table id="example-datatable" class="table table-vcenter table-condensed table-bordered" name="table">

                        <thead>
                            <tr>
                                <th class="text-center header-item">@spendItemOtros.Value</th>
                                <th class="text-center header-item">@spendItemOtros.Text</th>
                                <th></th>
                                <th></th>
                                <th class="text-center header-item">GASTOS A</th>
                                <th class="text-center header-item">GASTOS B</th>
                                <th class="text-center header-item">GASTOS C</th>
                                <th class="text-center header-item">TOTAL</th>
                                <th class="text-center">Acciones</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var pseg in Model.Spends.Where(x => x.Type.Item.Id == int.Parse(spendItemOtros.Value)))
                            {
                            @Html.Partial("_SpendItem", pseg)
                            }
                        </tbody>
                    </table>

                    @{decimal percentageItemOtros = 0;
                        if (Model.Spends.Sum(x => x.Bill.Amount) > 0)
                        {
                            percentageItemOtros = Model.Spends.Where(x => x.Type.Item.Id == int.Parse(spendItemOtros.Value)).Sum(x => x.Bill.Amount) * 100 / Model.Spends.Sum(x => x.Bill.Amount);
                        }

                        percentageItemOtros = Math.Round(percentageItemOtros, 2);
                    }

                    <div class="total-table row">
                        <div class="col-md-4"></div>
                        <div class="col-md-8">
                            <div class="col-md-6">Total</div>
                            <div class="col-md-2">
                                @percentageItemOtros %
                            </div>
                            <div class="col-md-2">$@Model.Spends.Where(x => x.Type.Item.Id == int.Parse(spendItemOtros.Value)).Sum(x => x.Bill.Amount)</div>
                        </div>
                    </div>

                </div>


            </div>



            <div class="col-md-3 ">
                <a href="#modal-close-month" data-toggle="modal" title="Liquidar" value="Liquidar" class="btn btn-success">Liquidar</a>
                <a href="/Spend/PastListMenu?id=@Model.ConsortiumId" title="Ver anteriores" value="Ver anteriores" class="btn btn-info">Ver anteriores</a>
            </div>
            
        </div>


    </div>
</div>

<div id="modal-close-month" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header text-center">
                <h2 class="modal-title"><i class="fa fa-pencil"></i> LIQUIDAR </h2>
            </div>
            <!-- END Modal Header -->
            <!-- Modal Body -->
            <div class="modal-body">
                <form action="index.html" method="post" enctype="multipart/form-data" class="form-horizontal form-bordered" onsubmit="return false;">
                    <fieldset>
                        <legend>Estas seguro que queres realizar la liquidación mensual</legend>

                    </fieldset>

                    <div class="form-group form-actions">
                        <div class="col-xs-12 text-right">
                            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Cancelar</button>
                            <button onclick="location.href='/Patrimony/CloseMonth?consortiumId=@Model.ConsortiumId'" type="submit" class="btn btn-sm btn-success">Aceptar</button>

                        </div>
                    </div>
                </form>
            </div>
            <!-- END Modal Body -->
        </div>
    </div>
</div>



<script>
    document.onreadystatechange = function () {
        var tables = document. getElementsByName("table");
        
        tables.forEach(function (item, index, arr) {
            item.setAttribute("class", "table table-vcenter table-condensed dataTable no-footer");
        });
    }
    
</script>