@model Administracion.Models.ConsortiumViewModel

        <tr>

            <td class="text-center">@Model.Id</td>
            <td class="text-center">@Model.CUIT</td>
            <td><a href="Details/@Model.Id">@Model.FriendlyName</a></td>
            <td>@Model.MailingList</td>
            <td>@Model.Ownership.Address.Street @Model.Ownership.Address.Number</td>
            <td class="text-center">
                <div class="btn-group">
                    <a href="UpdateConsortium/@Model.Id" data-toggle="tooltip" title="Editar" class="btn btn-xs btn-default"><i class="fa fa-pencil"></i></a>
                    <a href="#modal-delete-@Model.Id" data-toggle="modal" title="Borrar Consorcio" class="btn btn-xs btn-danger"><i class="fa fa-times"></i></a>
                </div>
            </td>





            @*<td></td>                              
            <td>@Model.CUIT</td>
            <td>@Model.FriendlyName</td>                                          
            <td>@Model.MailingList</td>
            @*<td>@Model.Ownerships.Where(x=>x.Id== Mo)</td>*@
                        
            
            
            
        </tr>



<div id="modal-delete-@Model.Id" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header text-center">
                <h2 class="modal-title"><i class="fa fa-pencil"></i> ELIMINAR CONSORCIO</h2>
            </div>
            <!-- END Modal Header -->
            <!-- Modal Body -->
            <div class="modal-body">
                <form action="index.html" method="post" enctype="multipart/form-data" class="form-horizontal form-bordered" onsubmit="return false;">
                    <fieldset>
                        <legend>Estas seguro que queres Eliminar a @Model.FriendlyName </legend>

                    </fieldset>

                    <div class="form-group form-actions">
                        <div class="col-xs-12 text-right">
                            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Cancelar</button>
                            <button onclick="location.href='DeleteConsortium/@Model.Id'" type="submit" class="btn btn-sm btn-danger">Eliminar</button>

                        </div>
                    </div>
                </form>
            </div>
            <!-- END Modal Body -->
        </div>
    </div>
</div>