@model Administracion.DomainModel.UnitAccountStatusSummary


<tr>
    <td class="text-center">@Model.Uf</td>
    <td class="text-center">@Model.Piso</td>
    <td class="text-center">@Model.Dto</td>
    <td class="text-center">@Model.Propietario</td>
    <td class="text-right">@Model.SaldoAnterior</td>
    <td class="text-right">@Model.GastosA</td>
    <td class="text-right">@Model.GastosB</td>
    <td class="text-right">@Model.GastosC</td>
    <td class="text-right">@Model.Expensas</td>
    <td class="text-right">@Model.Edesur</td>
    <td class="text-right">@Model.Aysa</td>
    <td class="text-right">@Model.Intereses</td>
    <td class="text-right">@Model.Deuda</td>
    <td class="text-right">@Model.SiPagaAntes</td>
    <td class="text-right">@Model.Total</td>
    <td class="text-right">@Model.Pagos</td>

</tr>

