@model Administracion.Models.ConsortiumConfigurationViewModel
@using Administracion.Models;
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var itemCnt = 0;
}


<div id="page-content" class="sidebar-partial sidebar-visible-lg sidebar-no-animations">

    <div id="main-container">
        <div class="content-header">
            <ul class="nav-horizontal text-center">
                <li>
                    <a href="/Consortium/Details/@Model.ConsortiumId"><i class="fa fa-home"></i> Home</a>
                </li>
                <li>
                   <a href="javascript:void(0)"><i class="gi gi-notes_2"></i> CONFIGURACION</a>
                </li>
            </ul>
        </div>
        <ul class="breadcrumb breadcrumb-top">
            <li><a href="/Consortium/Details/@Model.ConsortiumId">Home</a></li>
            <li><a href="/Consortium/Index">Consorcios</a></li>
            <li><a href="/Consortium/Details/@Model.ConsortiumId">Consorcio</a></li>
            <li><a href="#">Alta/Modificacion Configuracion</a></li>
        </ul>
        <div class="row">

            <div class="col-md-12">
                <!-- Basic Form Elements Block -->
                <div class="block">
                    <div class="block-title">
                        <h2><strong>ALTA NUEVA </strong>CONFIGURACIÓN</h2>
                    </div>
                    @using (Html.BeginForm("CreateUpdateConsortiumConfiguration", "Consortium", FormMethod.Post, htmlAttributes: new { @class = "form-horizontal form-bordered" }))
                    {
                        @Html.AntiForgeryToken()
                        
                        <input type="hidden" id="ConsortiumId" name="ConsortiumId" value="@Model.ConsortiumId">

                        foreach (var conf in Model.ConfigurationTypes)
                        {

                            var actualValue = Model.Configurations.ContainsKey(conf.Id) ? Model.Configurations[conf.Id].Value : 0;

                                                        
                            <input type="hidden" id="ConsortiumConfigurations[@itemCnt].ConsortiumConfigurationTypeId" name="ConsortiumConfigurations[@itemCnt].ConsortiumConfigurationTypeId" value="@conf.Id">
                            <div class="form-group row">
                                <label class="col-md-3 control-label" for="example-email-input">@conf.Description </label>
                                <div class="col-md-3 form-inline">
                                    <input class="form-control mr-2" id="ConsortiumConfigurations[@itemCnt].Value" type="number" step=".01" name="ConsortiumConfigurations[@itemCnt].Value" value="@actualValue">@(conf.IsPercentage ? "%" : "")
                                </div>
                            </div>                           
                            itemCnt++;
                        }
                        

                            <div class="form-group form-actions">
                                <div class="col-md-9 col-md-offset-3">
                                    <a href='javascript:history.go(-1)' class="btn btn-sm btn-default">Cancelar</a>
                                    <button type="submit" class="btn btn-sm btn-primary">Guardar</button>
                                </div>
                            </div>

                    }


                </div>
            </div>
        </div>

                
    </div>
            
</div>
