@model Administracion.Models.ConsortiumViewModel
@using Administracion.Models;
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="page-content" class="sidebar-partial sidebar-visible-lg sidebar-no-animations">

    <div id="main-container">
        <div class="content-header">
            <ul class="nav-horizontal text-center">
                <li>
                    <a href="/DataBase/Index"><i class="fa fa-home"></i> Home</a>
                </li>
                <li>
                    <a href="javascript:void(0)"><i class="gi gi-building"></i> Consorcio</a>
                </li>
            </ul>
        </div>
        <ul class="breadcrumb breadcrumb-top">
            <li><a href="/home">Home</a></li>
            <li><a href="">Consorcio</a></li>
        </ul>
        <div class="row">

            <div class="col-md-12">
                <!-- Basic Form Elements Block -->
                <div class="block">
                    <div class="block-title">
                        <h2><strong>ALTA NUEVOS </strong> CONSORCIOS</h2>
                    </div>
                    @using (Html.BeginForm("CreateUpdateConsortium", "Consortium", FormMethod.Post, htmlAttributes: new { @class = "form-horizontal form-bordered" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(x => x.Id)


                        <div class="form-group">
                            @Html.LabelFor(model => model.Id, htmlAttributes: new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                <p class="form-control-static">GENERA AUTOMATICAMENTE</p>
                            </div>
                        </div>

                        <div class="form-group row">
                            @Html.LabelFor(model => model.FriendlyName, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class='col-md-9 '>
                                @Html.EditorFor(model => model.FriendlyName, new { htmlAttributes = new { @class = "form-control", @placeholder="Nonmbre" } })
                                <span class="help-block">Coloque el nombre completo</span>
                                @Html.ValidationMessageFor(model => model.FriendlyName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Ownership.Address.Street, htmlAttributes: new { @class = "col-md-3 control-label" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.Ownership.Address.Street, new { htmlAttributes = new { @class = "form-control", @placeholder = "Direccion" } })
                                <span class="help-block">Coloque la direccon completa</span>
                                @Html.ValidationMessageFor(model => model.Ownership.Address.Street, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.Ownership.Address.Number, new { htmlAttributes = new { @class = "form-control", @placeholder = "nro" } })
                                <span class="help-block">Coloque la altura.</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label" for="example-text-input">CP</label>
                            <div class="col-md-3">
                                @Html.EditorFor(model => model.Ownership.Address.PostalCode, new { htmlAttributes = new { @class = "form-control", @placeholder = "CP" } })
                                <span class="help-block">Coloque el codigo postal</span>
                            </div> <div class="col-md-3">
                                @Html.EditorFor(model => model.Ownership.Address.City, new { htmlAttributes = new { @class = "form-control", @placeholder = "Ciudad" } })
                                <span class="help-block">Coloque la ciudad</span>
                            </div>
                        </div>
                      
                          <div class="form-group">
                            <label class="col-md-3 control-label" for="example-text-input">Provincia</label>
                            <div class="col-md-3">
                                @Html.EditorFor(model => model.Ownership.Address.Province, new { htmlAttributes = new { @class = "form-control", @placeholder = "Provincia" } })
                                <span class="help-block">Coloque la provincia</span>
                            </div> 
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label" for="example-text-input">DOCUMENTACION</label>                            
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.CUIT, new { htmlAttributes = new { @class = "form-control", @placeholder = "CUIT" } })
                            </div>
                        </div>


                         <div class="form-group row">
                                @Html.LabelFor(model => model.MailingList, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.MailingList, new { htmlAttributes = new { @class = "form-control" , @placeholder="Lista de email" } })
                                    @Html.ValidationMessageFor(model => model.MailingList, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            
                            <!--       <div class="form-group">
                                <label class="col-md-3 control-label" for="example-select">ADMINISTRACION</label>
                                <div class="col-md-4">
                                    @Html.DropDownListFor(model => model.AdministrationId, Model.Administrations, "-- ELIJA ADMNISTACION --", new { @class = "form-control" })
                                </div>
                                
                            </div>-->
                            

                            <div class="form-group form-actions">
                                <div class="col-md-9 col-md-offset-3">
                                    <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-angle-right"></i> ALTA</button>
                                    <button type="reset" class="btn btn-sm btn-warning"><i class="fa fa-repeat"></i> Resetear</button>
                                </div>
                            </div>

                    }

                </div>
            </div>
        </div>                
    </div>            
</div>
