@model Administracion.Models.ConsortiumViewModel
@using Administracion.Models;
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_FormLayout.cshtml";
}

<h2>Nuevo Consorcio</h2>
@using (Html.BeginForm("CreateConsortium", "Consortium", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Ingrese los datos del Consorcio</h4>
        <hr />

        @Html.ValidationMessage("", new { @class = "text-danger" })
        <div class="form-group row">
            @Html.LabelFor(model => model.FriendlyName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class='col-md-10 '>
                @Html.EditorFor(model => model.FriendlyName, new { htmlAttributes = new { @class = "form-control datetimePicker" } })
                @Html.ValidationMessageFor(model => model.FriendlyName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(model => model.CUIT, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CUIT, new { htmlAttributes = new { @class = "form-control datetimePicker" } })
                @Html.ValidationMessageFor(model => model.CUIT, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(model => model.MailingList, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MailingList, new { htmlAttributes = new { @class = "form-control datetimePicker" } })
                @Html.ValidationMessageFor(model => model.MailingList, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">                
            <label class="control-label col-md-2">Calle</label>
            <div class="col-md-10">                
                @Html.EditorFor(model => model.Address.Street, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(x => x.Address.Street, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-md-2">Numero</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Address.Number, new { htmlAttributes = new { @class = "form-control" } })                
                @Html.ValidationMessageFor(x => x.Address.Number, "", new { @class = "text-danger" })
            </div>
        </div>

        
        <div class="form-group row">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear Ticket" class="btn btn-success" />
            </div>
        </div>
    </div>
}
