<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Administracion</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
   

    @Html.Partial("_LoginPartial")
   


        <section class="page-content">
            <section class="page-content-inner">
                <!-- Top Submenu -->
                <nav class="top-submenu top-submenu-with-background">
                    <h3>Backlog</h3>
                    <ul class="list-unstyled breadcrumb">
                        <li>
                            <a href="javascript: void(0);">Backlog Administracion</a>
                        </li>
                        

                    </ul>
                </nav>

                <div class="widget widget-four background-transparent">

                </div>
                <section class="panel">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="margin-bottom-50">
                                    @RenderBody()                
                                </div>
                            </div>
                        </div>
                   </div>
                   
                </section>
                
            </section>
        </section>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        $(function () {

            $('.datepicker-only-init').datetimepicker({
                widgetPositioning: {
                    horizontal: 'left'
                },
                icons: {
                    time: "fa fa-clock-o",
                    date: "fa fa-calendar",
                    up: "fa fa-arrow-up",
                    down: "fa fa-arrow-down"
                },
                format: 'LL'
            });
        });

        $(document).ready(function () {

            var isUserCreation = document.getElementById('IsWorker') != null;
            if (isUserCreation) {
                if (document.getElementById('IsWorker').checked) {
                    $("#adminsitrationSelection").show();
                } else {
                    $("#adminsitrationSelection").hide();
                }

                if (document.getElementById('IsRenter').checked) {
                    $("#pagosSelection").show();
                } else {
                    $("#pagosSelection").hide();
                }

                $('#IsRenter').click(function () {
                    if (!$(this).is(':checked')) {
                        $("#pagosSelection").hide();
                    } else {
                        $("#pagosSelection").show();
                    }
                });

                $('#IsWorker').click(function () {
                    if (!$(this).is(':checked')) {
                        $("#adminsitrationSelection").hide();
                    } else {
                        $("#adminsitrationSelection").show();
                    }
                });

            }


            
        });
    </script>

</body>
</html>
