@using Administracion.Security

@{ 
    var url = Request.Url.ToString().ToLower();
}

@if (SessionPersister.isAuthenticated)
{
    string profilePic = SessionPersister.Account.User.ProfilePic;
    if (profilePic == null) { profilePic = "avatar.jpg"; }
    
    <div id="page-container" class="sidebar-partial sidebar-visible-lg sidebar-no-animations" style="overflow: visible;">
         <div id="sidebar"><!-- La altura del sidebar se ve retocada por un script "AJUSTE #SIDEBAR HEIGHT" al pie de _layout -->
            <!-- Wrapper for scrolling functionality -->
            <div id="sidebar-scroll">
                <!-- Sidebar Content -->
                <div class="sidebar-content">
                    <!-- Brand -->
                    <a href="index.html" class="sidebar-brand">
                        <i class="gi gi-flash"></i><span class="sidebar-nav-mini-hide"><strong>Adm.</strong>Carman</span>
                    </a>
                    <!-- END Brand -->
                    <!-- User Info -->
                    <div class="sidebar-section sidebar-user clearfix sidebar-nav-mini-hide">
                        <div class="sidebar-user-avatar">
                            <a href="/Users/Details">                             
                                <img src="~/Images/@profilePic" style="object-fit: cover"/>
                            </a>
                        </div>
                        @{ 
                            string name, surname, username = "";
                            if (!String.IsNullOrEmpty(SessionPersister.Account.User.Name) && !String.IsNullOrEmpty(SessionPersister.Account.User.Surname))
                            {
                                name = SessionPersister.Account.User.Name.ToUpper();
                                surname = SessionPersister.Account.User.Surname;
                                username = name[0] + ". " + surname;
                            }
                        }
                        <div class="sidebar-user-name">@username</div>
                        <div class="sidebar-user-links">
                            <!--<a href="page_ready_user_profile.html" data-toggle="tooltip" data-placement="bottom" title="Perfil"><i class="gi gi-user"></i></a>-->
                            <a href="page_ready_inbox.html" data-toggle="tooltip" data-placement="bottom" title="Mensajes"><i class="gi gi-envelope"></i></a>
                            <!-- Opens the user settings modal that can be found at the bottom of each page (page_footer.html in PHP version) -->
                            <a href="/Users/Details" class="enable-tooltip" data-placement="bottom" title="Mis Datos"><i class="gi gi-cogwheel"></i></a>
                            <a href="/Account/LogOff" data-toggle="tooltip" data-placement="bottom" title="Logout"><i class="gi gi-exit"></i></a>
                        </div>
                    </div>
                    <!-- END User Info -->
                    <!-- Theme Colors -->
                    <!-- Change Color Theme functionality can be found in js/app.js - templateOptions() -->
                    <ul class="sidebar-section sidebar-themes clearfix sidebar-nav-mini-hide">
                        <!-- You can also add the default color theme -->
                        <li class="active">
                            <a href="javascript:void(0)" class="themed-background-dark-default themed-border-default" data-theme="default" data-toggle="tooltip" title="Default Blue"></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="themed-background-dark-flatie themed-border-flatie" data-theme="/Content/themes/flatie.css" data-toggle="tooltip" title="Flatie"></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="themed-background-dark-coral themed-border-coral" data-theme="/Content/themes/coral.css" data-toggle="tooltip" title="Coral"></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="themed-background-dark-lake themed-border-lake" data-theme="/Content/themes/lake.css" data-toggle="tooltip" title="Lake"></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="themed-background-dark-night themed-border-night" data-theme="/Content/themes/night.css" data-toggle="tooltip" title="Night"></a>
                        </li>
                        <!-- Not used color themes                        
                        <li>
                            <a href="javascript:void(0)" class="themed-background-dark-amethyst themed-border-amethyst" data-theme="/Content/themes/amethyst.css" data-toggle="tooltip" title="Amethyst"></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="themed-background-dark-modern themed-border-modern" data-theme="/Content/themes/modern.css" data-toggle="tooltip" title="Modern"></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="themed-background-dark-autumn themed-border-autumn" data-theme="/Content/themes/autumn.css" data-toggle="tooltip" title="Autumn"></a>
                        </li>                        
                        <li>
                            <a href="javascript:void(0)" class="themed-background-dark-spring themed-border-spring" data-theme="/Content/themes/spring.css" data-toggle="tooltip" title="Spring"></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="themed-background-dark-fancy themed-border-fancy" data-theme="/Content/themes/fancy.css" data-toggle="tooltip" title="Fancy"></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="themed-background-dark-fire themed-border-fire" data-theme="/Content/themes/fire.css" data-toggle="tooltip" title="Fire"></a>
                        </li>                        
                        <li>
                            <a href="javascript:void(0)" class="themed-background-dark-forest themed-border-forest" data-theme="/Content/themes/forest.css" data-toggle="tooltip" title="Forest"></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="themed-background-dark-waterlily themed-border-waterlily" data-theme="/Content/themes/waterlily.css" data-toggle="tooltip" title="Waterlily"></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="themed-background-dark-emerald themed-border-emerald" data-theme="/Content/themes/emerald.css" data-toggle="tooltip" title="Emerald"></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="themed-background-dark-blackberry themed-border-blackberry" data-theme="/Content/themes/blackberry.css" data-toggle="tooltip" title="Blackberry"></a>
                        </li>
                        -->
                    </ul>
                    <!-- END Theme Colors -->
                    <!-- Sidebar Navigation -->
                    @if (SessionPersister.Account.Role == Administracion.DomainModel.Enum.Roles.Root)
                    {
                        <ul class="sidebar-nav">
                            <li>
                                <a href="/DataBase/Index" class="@(url.Contains("/database") ? "active" : "")"><i class="hi hi-home sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Home</span></a>
                            </li>
                            <li>
                                <a href="#"><i class="hi hi-tasks sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Mis Tareas</span></a>
                            </li>
                            <li>
                                <a href="#"><i class="gi gi-charts sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Estadisticas</span></a>
                            </li>
                            <li>
                                <a href="/Consortium/Index" class="sidebar-nav-menu @(url.Contains("/consortium") ? "active" : "")"><i class="fa fa-angle-left sidebar-nav-indicator sidebar-nav-mini-hide"></i><i class="gi gi-building sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Consorcios</span></a>
                                <ul>
                                    <li>
                                        <a href="/Consortium/CreateConsortium">Nuevo Consorcio</a>
                                    </li>
                                    <li>
                                        <a href="/Consortium/Index">Ver Consorcios</a>
                                    </li>



                                </ul>
                            </li>
                            @*<li>
                                <a href="@Url.Action("BaseUserList", "Users")" class="sidebar-nav-menu @(url.Contains("/users") ? "active" : "")"><i class="fa fa-angle-left sidebar-nav-indicator sidebar-nav-mini-hide"></i><i class="gi gi-user sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Usuarios</span></a>
                                <ul>
                                    <li>
                                        <a href="@Url.Action("BaseUserList", "Users")">Usuarios</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Index", "Users")">Propietarios</a>
                                    </li>
                                </ul>
                            </li>*@
                            @*<li>
                                <a href="/Users/Index" class="@(url.Contains("/users") ? "active" : "")"><i class="hi hi-user sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide"> Propietarios</span></a>
                            </li>*@




                            <li>
                                <a href="#" class="sidebar-nav-menu"><i class="fa fa-angle-left sidebar-nav-indicator sidebar-nav-mini-hide"></i><i class="gi gi-notes_2 sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Checklist</span></a>
                                @*<ul>
                                        <li>
                                            <a href="page_forms_general.html">Crear Nuevo Checklist</a>
                                        </li>
                                        <li>
                                            <a href="page_forms_components.html">Ver Checklists</a>
                                        </li>

                                    </ul>*@
                            </li>
                            <li>
                                <a href="/Task/List" class="@(url.Contains("/task") ? "active" : "")"><i class="fa fa-thumb-tack sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Órdenes de Trabajo</span></a>
                            </li>
                            <li>
                                <a href="/Spend/ChoseConsortium" class="@(url.Contains("/spend") ? "active" : "")"><i class="fa fa-usd sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide"> Gastos</span></a>
                            </li>

                            <li>
                                <a href="#" class="sidebar-nav-menu @(url.Contains("/managers") ? "active" : "")"><i class="fa fa-angle-left sidebar-nav-indicator sidebar-nav-mini-hide"></i><i class="gi gi-group sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Encargados</span></a>
                                <ul>
                                    <li>
                                        <a href="/Managers/CreateManager">Cargar Nuevo Encargado</a>
                                    </li>
                                    <li>
                                        <a href="/Managers/Index">Ver encargados</a>
                                    </li>

                                </ul>
                            </li>
                            <li>
                                <a href="/Providers/Index" class="sidebar-nav-menu @(url.Contains("/providers") ? "active" : "")"><i class="fa fa-angle-left sidebar-nav-indicator sidebar-nav-mini-hide"></i><i class="gi gi-group sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Proveedores</span></a>
                                <ul>
                                    <li>
                                        <a href="/Providers/CreateProvider">Cargar Nuevo Proveedor</a>
                                    </li>
                                    <li>
                                        <a href="/Providers/Index">Ver proveedores</a>
                                    </li>

                                </ul>
                            </li>
                            <li class="sidebar-header">
                                <span class="sidebar-header-options clearfix"><a href="javascript:void(0)" data-toggle="tooltip" title="Quick Settings"><i class="gi gi-settings"></i></a></span>
                                <span class="sidebar-header-title">Soporte</span>
                            </li>
                            <li>
                                <a href="/Backlog/Index" class="sidebar-nav-menu @(url.Contains("/backlog") ? "active" : "")"><i class="fa fa-angle-left sidebar-nav-indicator sidebar-nav-mini-hide"></i><i class="gi gi-life_preserver sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Tickets/Reclamos</span></a>
                                <ul>
                                    <li>
                                        <a href="/Backlog/CreateTicket">Nuevo Ticket</a>
                                    </li>
                                    <li>
                                        <a href="/Backlog/Index">Ver Tickets</a>
                                    </li>

                                </ul>
                            </li>
                            <li class="sidebar-header">
                                <span class="sidebar-header-options clearfix"><a href="javascript:void(0)" data-toggle="tooltip" title="Quick Settings"></a></span>
                                <span class="sidebar-header-title">Documentación</span>
                            </li>
                            <li>
                                <a href="#"><i class="hi hi-file sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Información Útil</span></a>
                            </li>

                            <li>
                                <a href="#"><i class="hi hi-folder-open sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Archivos</span></a>
                            </li>

                        </ul>
                    }
                    else
                    {
                        <ul class="sidebar-nav">
                            <li>
                                <a href="/DataBase/Index" class="active"><i class="hi hi-home sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Home</span></a>
                            </li>
                            <li>
                                <a href="#"><i class="hi hi-tasks sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Mis Tareas</span></a>
                            </li>
                            <li>
                                <a href="#"><i class="gi gi-charts sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Estadisticas</span></a>
                            </li>
                            <li>
                                <a href="/Consortium/Index" class="sidebar-nav-menu"><i class="fa fa-angle-left sidebar-nav-indicator sidebar-nav-mini-hide"></i><i class="gi gi-building sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Consorcios</span></a>
                                <ul>
                                    <li>
                                        <a href="/Consortium/CreateConsortium">Nuevo Consorcio</a>
                                    </li>
                                    <li>
                                        <a href="/Consortium/Index">Ver Consorcios</a>
                                    </li>



                                </ul>
                            </li>

                            <li>
                                <a href="/Users/Index"><i class="hi hi-user sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Propietarios</span></a>
                            </li>




                            <li>
                                <a href="#" class="sidebar-nav-menu"><i class="fa fa-angle-left sidebar-nav-indicator sidebar-nav-mini-hide"></i><i class="gi gi-notes_2 sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Checklist</span></a>
                                @*<ul>
                                        <li>
                                            <a href="page_forms_general.html">Crear Nuevo Checklist</a>
                                        </li>
                                        <li>
                                            <a href="page_forms_components.html">Ver Checklists</a>
                                        </li>

                                    </ul>*@
                            </li>
                            <li>
                                <a href="/Spend/ChoseConsortium" class="sidebar-nav-menu"><i class="fa fa-angle-left sidebar-nav-indicator sidebar-nav-mini-hide"></i><i class="gi gi-wallet sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Gastos</span></a>
                                @*<ul>
                                        <li>
                                            <a href="page_forms_general.html">Nuevo Gasto</a>
                                        </li>
                                        <li>
                                            <a href="page_forms_components.html">Cargar Factura</a>
                                        </li>

                                    </ul>*@
                            </li>
                            <li>
                                <a href="#" class="sidebar-nav-menu"><i class="fa fa-angle-left sidebar-nav-indicator sidebar-nav-mini-hide"></i><i class="gi gi-group sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Encargados</span></a>
                                <ul>
                                    <li>
                                        <a href="/Managers/CreateManager">Cargar Nuevo Encargado</a>
                                    </li>
                                    <li>
                                        <a href="/Managers/Index">Ver encargados</a>
                                    </li>

                                </ul>
                            </li>
                            <li>
                                <a href="/Providers/Index" class="sidebar-nav-menu"><i class="fa fa-angle-left sidebar-nav-indicator sidebar-nav-mini-hide"></i><i class="gi gi-group sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Proveedores</span></a>
                                <ul>
                                    <li>
                                        <a href="/Providers/CreateProvider">Cargar Nuevo Proveedor</a>
                                    </li>
                                    <li>
                                        <a href="/Providers/Index">Ver proveedores</a>
                                    </li>

                                </ul>
                            </li>
                            <li class="sidebar-header">
                                <span class="sidebar-header-options clearfix"><a href="javascript:void(0)" data-toggle="tooltip" title="Quick Settings"><i class="gi gi-settings"></i></a></span>
                                <span class="sidebar-header-title">Soporte</span>
                            </li>
                            <li>
                                <a href="/Backlog/Index" class="sidebar-nav-menu"><i class="fa fa-angle-left sidebar-nav-indicator sidebar-nav-mini-hide"></i><i class="gi gi-life_preserver sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Tickets/Reclamos</span></a>
                                <ul>
                                    <li>
                                        <a href="/Backlog/CreateTicket">Nuevo Ticket</a>
                                    </li>
                                    <li>
                                        <a href="/Backlog/Index">Ver Tickets</a>
                                    </li>

                                </ul>
                            </li>
                            <li class="sidebar-header">
                                <span class="sidebar-header-options clearfix"><a href="javascript:void(0)" data-toggle="tooltip" title="Quick Settings"></a></span>
                                <span class="sidebar-header-title">Documentación</span>
                            </li>
                            <li>
                                <a href="#"><i class="hi hi-file sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Información Útil</span></a>
                            </li>

                            <li>
                                <a href="#"><i class="hi hi-folder-open sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Archivos</span></a>
                            </li>

                        </ul>

                    }
                        <!-- END Sidebar Navigation -->

                        <!-- Sidebar Notifications -->
                            <div class="sidebar-header sidebar-nav-mini-hide">
                                <span class="sidebar-header-options clearfix">
                                    <a href="javascript:void(0)" data-toggle="tooltip" title="Refresh"><i class="gi gi-refresh"></i></a>
                                </span>
                                <span class="sidebar-header-title">Actividad</span>
                            </div>
                            <div class="sidebar-section sidebar-nav-mini-hide">
                                <div class="alert alert-success alert-alt">
                                    <small>5 min </small><br>
                                    <i class="fa fa-thumbs-up fa-fw"></i> No hay actividades todavía
                                </div>
                            </div>
                        <!-- END Sidebar Notifications -->
                        </div><!-- END Sidebar Content -->                                
                </div><!-- END Wrapper for scrolling functionality -->                            
        </div><!-- END Sidebar -->
            <div id="main-container">

            <header class="navbar navbar-default">
                <!-- Left Header Navigation -->
                <ul class="nav navbar-nav-custom">
                    <!-- Main Sidebar Toggle Button -->
                    <li>
                        <a href="javascript:void(0)" onclick="App.sidebar('toggle-sidebar');this.blur();">
                            <i class="fa fa-bars fa-fw"></i>
                        </a>
                    </li>
                    <!-- END Main Sidebar Toggle Button -->


                </ul>
                <!-- END Left Header Navigation -->
                <!-- Right Header Navigation -->
                <ul class="nav navbar-nav-custom pull-right">
                    <!-- Alternative Sidebar Toggle Button -->
                    <!-- END Alternative Sidebar Toggle Button -->
                    <!-- User Dropdown -->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">                            
                            <img src="~/Images/@profilePic" style="object-fit: cover"/> <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-custom dropdown-menu-right">
                            <li class="dropdown-header text-center">Mis Datos</li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-clock-o fa-fw pull-right"></i>
                                    <span class="badge pull-right">10</span>
                                    Mis Tareas
                                </a>
                                <a href="#">
                                    <i class="fa fa-envelope-o fa-fw pull-right"></i>
                                    <span class="badge pull-right">5</span>
                                    Mensajes
                                </a>

                                <a href="#">
                                    <i class="fa fa-question fa-fw pull-right"></i>
                                    <span class="badge pull-right">11</span>
                                    FAQS
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>

                                <!-- Opens the user settings modal that can be found at the bottom of each page (page_footer.html in PHP version) -->
                                <a href="/Users/Details" data-toggle="modal">
                                    <i class="fa fa-cog fa-fw pull-right"></i>
                                    Mis datos
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="/Account/LogOff"><i class="fa fa-ban fa-fw pull-right"></i> Logout</a>

                                @*@using (Html.BeginForm("LogOff", "Account", FormMethod.Get, new { id = "logoutForm", @class = "navbar-right" }))
                                {
                                    @Html.AntiForgeryToken()
                                }*@




                            </li>

                        </ul>
                    </li>
                    <!-- END User Dropdown -->
                </ul>
                <!-- END Right Header Navigation --><!-- Horizontal Menu + Search -->
                <div id="horizontal-menu-collapse" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="/DataBase/Index">Home</a>
                        </li>

                        <li class="dropdown">
                            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">Contactos </a>

                        </li>
                        <li class="dropdown">
                            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">Calendario </a>

                        </li>
                        <li class="dropdown">
                            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">Mensajes(1) </a>

                        </li>
                    </ul>
                    <form action="#" class="navbar-form navbar-left">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Buscar..">
                        </div>
                    </form>
                </div>
                <!-- END Horizontal Menu + Search -->
            </header>
            <!-- END Header -->


            </div>
    </div>
        }
