@model Administracion.DomainModel.Task

<tr>
    @*<td>@Model.Id</td>*@
    <td class="text-center">@Model.OpenDate.ToShortDateString()</td>
    @if (Model.Creator != null)
    {
    <td class="text-center">@Model.Creator.User.Name</td>
    }
    else { <td>-</td> }
    <td class="text-center">@Model.Ticket.Title</td>
    <td class="text-center">@switch (Model.Priority.Description)
    {
        case "baja":
            <span class="label label-success">@Model.Priority.Description</span>
            break;
        case "media":
            <span class="label label-warning">@Model.Priority.Description</span>
            break;
        case "alta":
            <span class="label label-danger">@Model.Priority.Description</span>
            break;
    }</td>
    @{
        var estado = Model.Status.Description == "open" ? "abierto" : "cerrado";
    }
    <td class="text-center">@estado</td>
    @if (Model.Worker != null) {
        <td class="text-center">@Model.Worker.User.Name</td>
    }
    else { <td class="text-center">-</td> }
    @if (Model.Manager != null)
    {
        <td class="text-center">@Model.Manager.User.Name</td>
    }
    else { <td class="text-center">-</td> }
    @if (Model.Provider != null) {
        <td class="text-center">@Model.Provider.User.Name</td>
    }
    else { <td class="text-center">-</td> }
    <td class="text-center">
        <a href="@Url.Action("Details", "Task", new { id = Model.Id })"title="ver detalles">
            <i class="fa fa-info-circle" aria-hidden="true"></i>
        </a>
            <!--<i class="fa fa-pencil" aria-hidden="true"></i>
            <a href="#modal-delete-task-@Model.Id" data-toggle="modal" title="Borrar tarea" class="btn-xs"><i class="fa fa-times danger"></i></a>
            <a href="#modal-spend-@Model.Id" data-toggle="modal" title="Asociar Gasto" class="btn-xs"><i class="fa fa-dollar success"></i></a>
            -->
</td>
</tr>
