@model Administracion.Models.TicketViewModel

<div id="modal-add-task" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h2 class="modal-title"><i class="fa fa-thumb-tack" aria-hidden="true"></i> Nueva &oacute;rden</h2>
            </div>
            <!-- END Modal Header -->
            <!-- Modal Body -->
            <div class="modal-body">
                @using (Html.BeginForm("CreateTask", "Task", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal form-bordered" }))
                {
                    <input type="hidden" name="Task.TicketId" id="Task.TicketId" value="@Model.Id" />

                    <div class="form-group row">
                        <div class="col-md-10 col-md-offset-1">
                            <label class="control-label">Descripci&oacute;n</label>
                            @{var initialDescription = !string.IsNullOrEmpty(Model.Description) ? Model.Description : string.Empty;}
                            <textarea name="Task.Description" id="Task.Description" class="form-control text-box multi-line">@initialDescription</textarea>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-4 col-md-offset-1">
                        <label class="control-label">Prioridad: </label>
                            @Html.DropDownListFor(model => model.Task.PriorityId, Model.PriorityList, "-- Elija Prioridad --", new { @class = "form-control" })
                        </div>
                        <div class="col-md-5  col-md-offset-1">
                        <label class="control-label">Proveedor: </label>
                            @Html.DropDownListFor(model => model.Task.Provider.Id, Model.ProviderList, "-- Elija Proveedor --", new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group row">                       
                        <div class='col-md-4 col-md-offset-1'>
                            <label class="control-label">Seguimiento inicial</label>
                            <div class='input-group date'>
                                <input class="form-control text-box single-line" data-val="true" data-val-date="The field FollowDate must be a date." data-val-required="The FollowDate field is required." id="TaskFollow_FollowDate" name="Task.FollowDate" oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('Ingrese fecha de seguimiento inicial')" required="required" type="datetime" value="">
                                @Html.ValidationMessage("", new { @class = "text-danger" })
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <div class='col-md-4 col-md-offset-1'>
                            <label class="control-label">Fecha próximo contacto</label>
                            <div class='input-group date'>
                                <input class="form-control text-box single-line" data-val="true" data-val-date="El campo debe ser una fecha" name="Task.TaskFollow.FollowDate" oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('Ingrese fecha de próximo contacto')" type="datetime" value="">
                                @Html.ValidationMessage("", new { @class = "text-danger" })
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-actions">
                        <div class="col-xs-12 text-right">
                            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Cancelar</button>
                            <input type="submit" class="btn btn-info" value="Guardar" />
                        </div>
                    </div>
                }
            </div>
            <!-- END Modal Body -->
        </div>
    </div>
</div>
