@model Administracion.DomainModel.Task

<div id="modal-task-details-@Model.Id" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header text-center row">
                <div class="col-md-6">
                    <h2 class="modal-title"><i class="fa fa-pencil"></i> @Model.Description</h2>
                    @if (Model.Status.Description != "closed")
                    {
                    <a href="/Task/CloseTask?Id=@Model.Id" class="btn btn-xs btn-default pull-left"><i class="fa fa-check"></i> Cerrar Órden</a>
                    }

                </div>
                <div class="col-md-6">
                    <div class="col-md-12">
                        <a href="#modal-add-task-history-@Model.Id" data-toggle="modal" title="Agregar Seguimiento" value="Agregar Seguimiento" class="btn btn-success">Agregar Seguimiento</a>
                        </div>
                    <div class="col-md-12" style="margin-top: 10px;">
                        <a href="#modal-follow-list-task-@Model.Id" data-toggle="modal" title="Ver seguimiento" value="Ver Seguimiento" class="btn btn-success">Ver Seguimiento</a>
                    </div>                    
                </div>
                
            </div>
            <!-- END Modal Header -->
            <!-- Modal Body -->
            <div class="modal-body row">
            @{var workerDescription = Model.Worker != null ? Model.Worker.User.Name + " " + Model.Worker.User.Surname : "-";
                var managerDescription = Model.Manager != null ? Model.Manager.User.Name + " " + Model.Manager.User.Surname : "-";
                var providerDescription = Model.Provider != null ? Model.Provider.User.Name + " " + Model.Provider.User.Surname : "-";
                }
                @{
                    var estado = Model.Status.Description == "open" ? "abierto" : "cerrado";

                }

                <form action="index.html" method="post" enctype="multipart/form-data" class="form-horizontal form-bordered" onsubmit="return false;">
                    <fieldset>
                        <legend>Creador: @Model.Creator.User.Name @Model.Creator.User.Surname</legend>
                        <legend>Fecha de Creación: @Model.OpenDate.ToShortDateString()</legend>
                        <legend>Prioridad: @Model.Priority.Description</legend>
                        <legend>Estado: @estado</legend>
                        <legend>Empleado: @workerDescription</legend>                        
                        <legend>Encargado: @managerDescription</legend>                        
                        <legend>Proveedor: @providerDescription</legend>                        
                    </fieldset>



                    <div class="block">
                        <!-- Latest Orders Title -->
                        <div class="block-title">                            
                            <h2><strong>Gastos</strong> </h2>
                        </div>
                        <!-- END Latest Orders Title -->
                        <!-- Latest Orders Content -->
                        @if (Model.Spends != null)
                        {
    
                                    foreach (var spend in Model.Spends)
                                    {
                                     var provdescription = spend.Bill.Provider != null ?
                                          spend.Bill.Provider.User.Name+" " +spend.Bill.Provider.User.Surname : "-";
                                    var workerdescription = spend.Bill.Worker != null ?
                                        spend.Bill.Worker.User.Name + " " + spend.Bill.Worker.User.Surname : "-";
                                    var managerdescription = spend.Bill.Manager != null ?
                                        spend.Bill.Manager.User.Name + " " + spend.Bill.Manager.User.Surname : "-";

                                
                                        <h3>@spend.Description</h3>
                                        <ul>
                                            <li><strong>Tipo:</strong>@spend.Type.Description</li>
                                            <li><strong>Nro Factura:</strong> @spend.Bill.Number</li>
                                            <li><strong>Monto:</strong> @spend.Bill.Amount</li>                                            
                                            <li><strong>Proveedor:</strong> @provdescription</li>                                            
                                            <li><strong>Encargado:</strong> @managerdescription</li>                                            
                                            <li><strong>Empleado:</strong> @workerdescription</li>                                            
                                        </ul>
                                    }

                        }
                        <!-- END Latest Orders Content -->
                    </div>

                </form>
            </div>                                                
        </div>
    </div>
</div>


@Html.Partial("_CreateTaskFollow", Model)
@Html.Partial("_TaskFollowDetails", Model)