@model Administracion.DomainModel.Task

<div id="modal-task-details-@Model.Id" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header clearfix">
                <h2 class="modal-title col-md-4"><i class="fa fa-thumb-tack"></i> Detalles</h2>
                <div class="col-md-8">
                    @if (Model.Status.Description != "closed")
                    {
                        <a href="@Url.Action("CloseTask", "Task", new { Id = Model.Id })" class="btn btn-default"><i class="fa fa-lock"></i> Cerrar</a>
                    }
                    <a href="#modal-add-task-history-@Model.Id" data-toggle="modal" title="Agregar Seguimiento" class="btn btn-success"><i class="fa fa-plus"></i> Seguimiento</a>
                    <a href="#modal-follow-list-task-@Model.Id" data-toggle="modal" title="Ver seguimiento"class="btn btn-info"><i class="fa fa-eye"></i> Seguimiento</a>
                </div>                
            </div>
            <!-- END Modal Header -->
            <!-- Modal Body -->
            <div class="modal-body row">
            @{var workerDescription = Model.Worker != null ? Model.Worker.User.Name + " " + Model.Worker.User.Surname : "-";
                var managerDescription = Model.Manager != null ? Model.Manager.User.Name + " " + Model.Manager.User.Surname : "-";
                var providerDescription = Model.Provider != null ? Model.Provider.User.Name : "-";
                }
                @{
                    var estado = Model.Status.Description == "open" ? "abierto" : "cerrado";

                }

                @*<form action="index.html" method="post" enctype="multipart/form-data" class="form-horizontal form-bordered" onsubmit="return false;">
    <fieldset>
        <legend>Creador: @Model.Creator.User.Name @Model.Creator.User.Surname</legend>
        <legend>Fecha de Creación: @Model.OpenDate.ToShortDateString()</legend>
        <legend>Prioridad: @Model.Priority.Description</legend>
        <legend>Estado: @estado</legend>
        <legend>Proveedor: @providerDescription</legend>
    </fieldset>*@
                <div class="form-group clearfix">
                    <div class="col-md-12">
                        <label>Descripción</label>
                        <p>@Model.Description</p>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <div class="col-md-4">
                        <label>Creador</label>
                        <p>@Model.Creator.User.Name @Model.Creator.User.Surname</p>
                    </div>
                    <div class="col-md-4">
                        <label>Fecha de creación</label>
                        <p>@Model.OpenDate.ToShortDateString()</p>
                    </div>
                    <div class="col-md-4">
                        <label>Prioridad</label>
                        <p>@Model.Priority.Description</p>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <div class="col-md-4">
                        <label>Estado</label>
                        <p>@estado</p>
                    </div>
                    <div class="col-md-4">
                        <label>Proveedor</label>
                        <p>@providerDescription</p>
                    </div>
                </div>


                @if (Model.Spends != null && Model.Spends.Any())
                {    
                    <div class="block">
                        <!-- Latest Orders Title -->
                        <div class="block-title">                            
                            <h2><strong>Gastos</strong> </h2>
                        </div>
                        <!-- END Latest Orders Title -->
                        <!-- Latest Orders Content -->
                        @foreach (var spend in Model.Spends)
                        {
                            var provdescription = spend.Bill.Provider != null ?
                                spend.Bill.Provider.User.Name+" " +spend.Bill.Provider.User.Surname : "-";
                        var workerdescription = spend.Bill.Worker != null ?
                            spend.Bill.Worker.User.Name + " " + spend.Bill.Worker.User.Surname : "-";
                        var managerdescription = spend.Bill.Manager != null ?
                            spend.Bill.Manager.User.Name + " " + spend.Bill.Manager.User.Surname : "-";

                                
                            <h3>@spend.Description</h3>
                            <ul>
                                <li><strong>Tipo:</strong>@spend.Type.Description</li>
                                <li><strong>Nro Factura:</strong> @spend.Bill.Number</li>
                                <li><strong>Monto:</strong> @spend.Bill.Amount</li>                                            
                                <li><strong>Proveedor:</strong> @provdescription</li>                                            
                                <li><strong>Encargado:</strong> @managerdescription</li>                                            
                                <li><strong>Empleado:</strong> @workerdescription</li>                                            
                            </ul>
                        }
                        <!-- END Latest Orders Content -->
                    </div>
                }

                @*</form>*@
            </div>                                                
        </div>
    </div>
</div>


@Html.Partial("~/Views/Task/_AgregarSeguimiento.cshtml", Model)
@Html.Partial("~/Views/Task/_VerSeguimiento.cshtml", Model)