@model Administracion.Models.TicketViewModel

<div class="row">
    <div class="col-lg-12">
        <div class="col-lg-4">

            
            <h4>@Model.Title</h4>                  
            <br />  
            <div class="margin-bottom-10">            
            <p>@Model.Description</p>
            <p>@Model.Customer</p>
            <p>@Model.Priority.Description</p>          
            <p>@Model.Status.Description</p>          
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    @Html.ActionLink("Editar", "UpdateTicketById", new { id = Model.Id }) |
                    @Html.ActionLink("Borrar", "DeleteTicket", new { id = Model.Id })
                    
                </div>
            </div>
        
        </div>
    </div>
</div>