@model Administracion.Models.TicketViewModel

        <tr>
                        
            <td>@Model.Id</td>                              
            <td>@switch(Model.Priority.Id)
            {
                case 1:
                    <span class="label label-success">@Model.Priority.Description</span>
                    break;
                case 2:
                    <span class="label label-success">@Model.Priority.Description</span>
                    break;
                case 3:
                    <span class="label label-danger">@Model.Priority.Description</span>
                    break;
                case 4:
                    <span class="label label-danger">@Model.Priority.Description</span>
                    break;                
            }
            
            </td>
            <td>@Model.Title</td>
            <td>@Model.Customer</td>          
            <td>-</td>          
            <td class="text-center">
                <div class="btn-group">
                    <a href="UpdateTicketById/@Model.Id" data-toggle="tooltip" title="Editar" class="btn btn-xs btn-default"><i class="fa fa-pencil"></i></a>
                    <a href="DeleteTicket/@Model.Id" data-toggle="tooltip" title="Borrar" class="btn btn-xs btn-danger"><i class="fa fa-times"></i></a>
                </div>
            </td>            
            
        </tr>
