@model Administracion.Models.TicketViewModel

        <tr>
            @{var tckid = "#TCK" + Model.Id; }
            <td>@tckid</td>                              
            <td>@switch (Model.Priority.Description)
            {
                case "baja":
                    <span class="label label-success">@Model.Priority.Description</span>
                    break;
                case "media":
                    <span class="label label-success">@Model.Priority.Description</span>
                    break;
                case "alta":
                    <span class="label label-danger">@Model.Priority.Description</span>
                    break;
                case "bloqueante":
                    <span class="label label-danger">@Model.Priority.Description</span>
                    break;                
            }
            
            </td>
            <td>@Model.Title</td>
            <td>@Model.Customer</td>          
            @if (Model.Consortium != null)
            {
                <td>@Model.Consortium.Ownership.Address.Street @Model.Consortium.Ownership.Address.Number</td>
            }
            else
            {
                <td>-</td>
            }            
            <td>-</td>          
            <td class="text-center">
                <div class="btn-group">
                    <a href="UpdateTicketById/@Model.Id" data-toggle="tooltip" title="Editar" class="btn btn-xs btn-default"><i class="fa fa-eye"></i></a>
                    <a href="DeleteTicket/@Model.Id" data-toggle="tooltip" title="Borrar" class="btn btn-xs btn-danger"><i class="fa fa-times"></i></a>
                </div>
            </td>            
            
        </tr>
